<!DOCTYPE html>
<html>
	<head>
		<title>Incorrect input</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/chatStyles.css" />
	</head>
	<body style="background-color:teal">
		<div id="login">
			<p><%= error %></p>
			<a href="login.html" style="float:right">Retry login</a>
		</div>
	</body>
</html>